@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav-bar{
    font-family: 'Roboto', cursive;
    width: 100%;
    height: 70px;
    background-color: #424242;
    color:#fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.login-form{
    font-family: 'Roboto', cursive;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3% auto;
}

.login-form input,label{
    margin: 5px 0px;
}

.login-form input{
    padding: 10px 5px;
}

.intro-title{
    font-family: 'Roboto', cursive;
    margin-top: 5%;
    text-align: center;
}

#login-button{
    border: none;
    padding: 10px;
    background-color: black;
    color: #fff;
}

#login-button:hover{
    cursor: pointer;
    background-color: #424242;
}

/* Home Page */
#home-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#home-body button{
    width: auto;
    padding: 10px;
    border: none;
    background-color: #424242;
    color: #fff;
}

#home-body button:hover{
    background-color: #424242;
    cursor: pointer;
}


/* USER HABITS DASHBOARD SECTION */
.user-habits{
    border-radius: 25px;
    height: auto;
    width: 50%;
    color: #000000;
    margin: 0 auto;
    margin-top: 10%;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    
}

.habit-card{
    cursor: pointer;
    margin: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    background-color: #424242;
    color: #fff;
    height: 100px;
    width: auto;
    border-radius: 25px;
    padding: 15px;
}


/* Progress Bars */
.meter { 
    height: 20px;
    position: relative;
    background: #555;
    border-radius: 25px;
    padding: 10px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
    margin-bottom: 10px;
    z-index: 5;
  }

  .meter > span {
    z-index: 10;
    width: 20px;
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color:red;
    background-image: linear-gradient(
      center bottom,
      rgb(43,194,83) 37%,
      rgb(84,240,84) 69%
    );
    box-shadow: 
      inset 0 2px 9px  rgba(255,255,255,0.3),
      inset 0 -2px 6px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
  }


  #progressbar {
    background-color: black;
    border-radius: 13px;
    /* (height of inner div) / 2 + padding */
    padding: 3px;
  }
  
  #progressbar>div {
    background-color: orange;
    width: 40%;
    /* Adjust with JavaScript */
    height: 20px;
    border-radius: 10px;
  }