@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav-bar{
    font-family: 'Roboto', cursive;
    width: 100%;
    height: 70px;
    background-color: #424242;
    color:#fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.login-form{
    font-family: 'Roboto', cursive;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3% auto;
}

.login-form input,label{
    margin: 5px 0px;
}

.login-form input{
    padding: 10px 5px;
}

.intro-title{
    font-family: 'Roboto', cursive;
    margin-top: 5%;
    text-align: center;
}

#login-button{
    border: none;
    padding: 10px;
    background-color: black;
    color: #fff;
}

#login-button:hover{
    cursor: pointer;
    background-color: #424242;
}

/* Home Page */
#home-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#home-body button{
    width: auto;
    padding: 10px;
    border: none;
    background-color: #424242;
    color: #fff;
}

#home-body button:hover{
    background-color: #424242;
    cursor: pointer;
}


/* USER HABITS DASHBOARD SECTION */
.user-habits{
    margin: 0 auto;
    border-radius: 25px;
    height: auto;
    width: 400px;
    color: #000000;
    background-color: #fff;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    text-align: center;
}

.habit-card{
    margin: 0 auto;
    justify-self: center;
    margin: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    background-color: #424242;
    color: #fff;
    height: 350px;
    width: 240px;
    border-radius: 25px;
    padding: 15px;
}

.frequency{
    font-size: 28px;
}


/* Progress Bars */
  #progressbar {
    margin-top: 70%;
    background-color: black;
    border-radius: 13px;
    /* (height of inner div) / 2 + padding */
    padding: 3px;
  }
  
  #progressbar>div {
    background-color: orange;
    width: 40%;
    /* Adjust with JavaScript */
    height: 20px;
    border-radius: 10px;
  }

  /* Break Flex */
  .break {
      flex-basis: 100%;
      height: 0;
  }

  .del-button{
      width: 100%;
      border: 1px solid #000000;
      cursor: pointer;
  }

  /* Add Habit Form */
  .add-habit-form{
      border-radius: 25px;
      margin-left: 30%;
      margin-top: 10%;
      position: absolute;
      width: 400px;
      display: flex;
      flex-direction: column;
      background-color:	#686868;
      text-align: center;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }

  .add-habit-form label{
      font-size: 22px;
      color: #fff;
  }

  .add-habit-form label, input{
      padding: 5px;
  }

  .submit-add-habit{
      border: none;
      background-color: #000000;
      color: #fff;
  }

  .cancel-add-habit{
    border: none;
    background-color: #808000;
    color: #fff;
  }